html { 
	scroll-behavior: smooth 
}

.post_content p{
	font-weight: 100px; 
}

.principal_index{
	width: 100%;
	height: 100%;
	color: #EEEEEE;
	border: 2px solid #EEEEEE;
	margin: 0px;
	min-height: 100vh;
}

.logo_index{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 5vw;
}

.text_index{
	margin: 0px 200px 0px 200px;
	padding: 20px;
	font-family: "Roboto";
	font-weight: 400;
	margin-top: 40px;
}

.text_index p{
	font-size: 20px;
	margin-top: 20px;
}


.arrows{
	width: 75px;
	margin: 100px auto 0 auto;
	display: block
}

.hover a:hover{
	padding: 10px;
	color: #2B2A2A;
	background: #EEEEEE;
}


.top_about{
	clear: both;
	background-color: #201F1F;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
	overflow: hidden;
	margin: -10px;
}

.menu_about{
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Montserrat";
}


.menu_about a:link, .menu_about a:visited{
	padding: 10px 15px;
}

.menu_about a:hover{
	color: #2B2A2A;
	background: #EEEEEE;
}

a:link, a:visited{
	color: #EEEEEE;
	text-decoration: none;
}

.container_about{
	width: 70%;
	display: flex block;
	background-color: #3D3C3C;
	color: #EEEEEE;
	margin: 25px auto 0px auto;
	padding: 10px 20px;
	font-family: "Roboto";
	font-weight: 800;
}

.topics_about{
	width: 15%;
	margin: 25px;
	margin-left: 1400px;
	padding: 0px 10px;
	background-color: #3D3C3C;
	color: #EEEEEE;
	float: left;
	font-family: "Roboto";
	font-weight: 400;
	position: fixed;
}

.logo_about{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px
}

.text_about{
	float: left;
	color: #EEEEEE;
	margin: 0px;
}

.container_gpractice{
	width: 50%;
	display: flex block;
	background-color: #3D3C3C;
	color: #EEEEEE;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 20px;
	font-family: "Roboto";
	font-weight: 800;
}

.post_content{
	margin: 30px 10px;
}

.post_content img{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 75%;
}

.topic_content{
	margin: 0px 0px 0px -20px;
}

.post_title{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: -10px -20px;
	padding: 12px;
	color: #EEEEEE;
	background-color: #201F1F;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	}

.topic_title{
	margin: 0px -10px;
	padding: 12px;
	color: #EEEEEE;
	background-color: #201F1F;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#guide {
	display: flex;
	align-items: center;
	justify-content: center;
}

#guide a:hover{
	padding: 10px;
	color: #2B2A2A;
	background: #EEEEEE;
}

#guide a:link, #guide a:visited{
	padding: 8px 12px;
	border: 1px solid #EEEEEE;
	border-radius: 5px;
}

.floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}
